<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/ui/seo_service/css/style.css' />
    <script src="/ui/seo_service/js/realtime.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    Micro frontent example using :
    <ul>
      <li><a href="http://expressjs.com/">express</a></li>
      <li><a href="https://rubyonrails.org/">Rails</a></li>
      <li><a href="https://reactjs.org/">React</a></li>
      <li><a href="https://phoenixframework.org/">Phoenix Framework</a></li>
      <li><a href="https://redom.js.org/">RE:DOM</a></li>
    </ul>
    </p>


    <span id="fstrz_random_component" data-wrapper="fstrz-random-component"></span>
    <span id="fstrz_calculator_component" data-wrapper="fstrz-calculator-component"></span>
    <span id="fstrz_value_component" data-wrapper="fstrz-value-component"></span>
    =
    <span id="fstrz_result_component" data-wrapper="fstrz-result-component"></span>

    <script src="/ui/calculator_service/js/calculator_service.js" async></script>
    <script src="/ui/value_service/js/value_service.js" async></script>
  </body>
</html>
